body{
    background-color:rgb(21, 76, 255);
}    

#prompt{
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    color:rgb(255, 255, 255);
    margin-left:5%;
    margin-top:5%;
    z-index:2000;
    position:fixed;
    cursor:pointer;
}

#prompt2{
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    color:rgb(255, 255, 255);
    margin-left:90%;
    margin-top:5%;
    z-index:2000;
    position:fixed;
    cursor:pointer;
}

/* reveal */
.video1{
    width: 60%;
    top: 0;
    right: 0;
    position: absolute;
}

#house1{
    mix-blend-mode: difference;
    cursor:-webkit-grab;
    bottom:0;
    left:0;
    width:100%;
    position: absolute;

}

#house31{
    mix-blend-mode: difference;
    bottom:0;
    left:0;
    width:100%;
    position: absolute;

}

#flower1{
    mix-blend-mode: difference;
    cursor:-webkit-grab;
    width:50%;
    left:0;
    bottom: 0;
    opacity:90%;
    position: absolute;
}

#dis1{
    mix-blend-mode: difference;
    width:30%;
    bottom: 0;
    right:40%;
    opacity:90%;
    position: absolute;
}

#bed1{
    mix-blend-mode: difference;
    cursor:-webkit-grab;
    width:30%;
    bottom: 0;
    right:2%;
    opacity:90%;
    position: absolute;
}