body{
    background-color:rgb(21, 76, 255);
}    

#prompt{
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    color:rgb(255, 255, 255);
    margin-left:5%;
    margin-top:5%;
    z-index:2000;
    position:fixed;
    cursor:pointer;
}

#prompt2{
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    color:rgb(255, 255, 255);
    margin-left:90%;
    margin-top:5%;
    z-index:2000;
    position:fixed;
    cursor:pointer;
}

/* original */
#House{
    bottom:0;
    left:0;
    width:100%;
    position: absolute;

}

#House3{
    bottom:0;
    left:0;
    width:40%;
    position: absolute;

}

#Bed{
    width:30%;
    bottom: 0;
    right:2%;
    position: absolute;
}
