body
{
    font-family: courier;
    font-size:1.25em;
    margin:20px;
    background-color: black;
    display:block;
}

.home{
    margin:20px;
    font-size:5em;
    display:flex;
    justify-content: center;
}

a{
    text-decoration:none;
    color:black;
}

.firstline
{
    margin-top:10%;
    position:relative;
    z-index:1;
}

#firstquote
{
margin:0;
text-align:justify;
}

#firstrotate
{
    transform:rotate(-180deg);
    text-align:center;
}

#first2
{
    margin-right: 10%;
    text-align: right;
}

#first3{
    margin-left: 15em;
}

#uninteresting
{
    padding-left:30em;
    text-align:left;
    color:red;
    cursor: pointer;
}

.second{
    margin-top:15%;
}

#second1{
    line-height:0.2;
}

#second2{
    line-height:0.2;
}

#secondquote{
    color:red;
    display:none;
    cursor: pointer;
}

.third{
    padding:20%;
    z-index: 3;
    top: 45%;
}

#thirdrepeat {
    color: red;
    margin-left: 25%;
    margin-top: -13.5%;
    float: right;
    position: absolute;
    display: none;
    cursor: pointer;
}

footer{
    margin-top:50px;
    position:fixed;
    bottom:20px;
    left: 50%;
    transform:translateX(-50%);
}

