* {
    padding: 0;
    margin: 0;
    font-family: 'VT323', monospace;
}

body{
    display:block;
}

#game {
    width: 100vw;
    height: 100vh;
}

#loading{
    color:white;
    width: 100vw;
    height:100vh;
    background-color: black;
    display: block;
}

#hint{
    position: fixed;
    left: 40vw;
    bottom:10vh;
    z-index:-1;
    font-size:2em;
}

#hbd{
    padding:30vh;
    font-size:5em;
    color:yellow;
    cursor:pointer;
}

#rooms {
    width: 100%;
    height: auto;
    position: absolute;
    top: 35%;
    z-index: -2;
}

#character {
    width: 15%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 200px;
    z-index: 0;
}

#room1 {
    cursor:pointer;
    width: 100px;
    height: auto;
    position: absolute;
    top: 387px;
    left: 250px;
    display: none;
}

#secondquote{
    margin-top: 10vh;
    display: none;
    width: 100px;
    position: fixed;
    left: 10vw;
    cursor:pointer;
}

#room2 {
    width: 100px;
    height: auto;
    position: absolute;
    top: 335px;
    left: 435px;
    display: none;
}

#thirdquote{
    margin-top: 10vh;
    display: none;
    width: 100px;
    position: fixed;
    left: 30vw;
    cursor:pointer;
}

#room3 {
    width: 100px;
    height: auto;
    position: absolute;
    top: 350px;
    left: 600px;
    display: none;
}

#forthquote{
    margin-top: 10vh;
    display: none;
    width: 100px;
    position: fixed;
    left: 50vw;
    cursor:pointer;
}

#room4 {
    width: 100px;
    height: auto;
    position: absolute;
    top: 370px;
    left: 870px;
    display: none;
}

#fifthquote{
    display: none;
    margin-top: 10vh;
    width: 100px;
    position: fixed;
    left: 70vw;
    cursor:pointer;
}