* {
    box-sizing: border-box;
    font-family:'Steinbeck Demo';
    font-weight:normal;
  }


  .chenxu{
    position: absolute;
    font-size:100px;
    top:5%;
    left:5%;
    z-index:10;
    cursor:pointer;
  }

  /* overlay css */

  #overlay {
    position: fixed;
    display: none;
    transition: 2s ease;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
  }
  
  #intro{
    Color:#CCFF00;
    margin-top: 15%;
    width:50%;
    margin-left: 6%;
    font-size:50px;
  }

  h1{
    font-size:30px;
    top: 80%;
    left: 10%;
    position:absolute;
    z-index:8;
  }
  
  h2{
    margin:0;
    transform: rotate(-90deg);
    font-size: 30px;
    top: 50%;
    position:absolute;
    z-index:8;
  }
  
  h3{
    margin:0;
    transform: rotate(-90deg);
    font-size: 30px;
    top: 50%;
    position:absolute;
    z-index:8;
  }
  
  h4{
    margin:0;
    transform: rotate(-90deg);
    font-size: 30px;
    top: 50%;
    position:absolute;
    z-index:8;
  }

    
  h5{
    margin:0;
    transform: rotate(-90deg);
    font-size: 30px;
    top: 50%;
    position:absolute;
    z-index:8;
  }


  /* Create four equal columns that floats next to each other */
  .ui
  {
    float: left;
    width: 40%;
    height:100vh;
    position:sticky;
    z-index:8;
  }

  .ui2, .ui3, .ui4 , .ui5{
    float: left;
    stroke:black;
    width: 15%;
    height:100vh;
    position: relative;
  }
  

  /* Clear floats after the columns */
  body:after {
    content: "";
    display: inline;
    clear: both;
  }

#video-container video {
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

  /* hover ui2 image css */
.ui2{
  position: relative;
  display: inline-block;
}

.ui2 .uiimg {
  display: none;
  position: absolute;
  z-index: 6;
}

.ui2:hover .uiimg {
  display: inline;
}
.white{
  max-width:100%;
  margin-top: 100%;
  position: relative;
  height: 40%;
  position: absolute;
  object-fit: cover;
  z-index: 1;
}

.uiimg{
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;

}

  /* hover ui3 image css */
  .ui3{
    position: relative;
    display: inline-block;
  }
  
  .ui3 .webimg {
    display: none;
    position: absolute;
    z-index: 6;
  }
  
  .ui3:hover .webimg {
    display: inline;
  }
  .white2{
    position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
  }

  .webimg{
    position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
  }

  /* hover ui4 image css */
  .ui4{
    position: relative;
    display: inline-block;
  }
  
  .ui4 .edimg {
    display: none;
    position: absolute;
    z-index: 6;
  }
  
  .ui4:hover .edimg {
    display: inline;
  }
  .white3{
    position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
  }

.edimg{
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

  /* hover ui5 image css */

  .ui5{
    position: relative;
    display: inline-block;
  }
  
  .ui5 .fineimg {
    display: none;
    position: absolute;
    z-index: 6;
  }
  
  .ui5:hover .fineimg {
    display: inline;
  }
  .white4{
    position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
  }

.fineimg{
  position: relative;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.mobile{
  display:none;
}

/* mobile */

.name{
  font-size:30px;
  margin-left: 10px;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  div.laptop {
    display: none;
  }

  div.mobile{
    display:block;
  }
}