body{
    font-family:Karla;
    font-weight:800;
    transition:0.5s;
}

.home{
    position:absolute;
    top:-3%;
    right:2%;
    text-decoration: none;
    font-family:Karla;
    font-weight:800;
    font-size:2em;
    color:rgb(116, 116, 116);
}

.genre{
    position: relative;
}

.mobile{
    display:none;}

.genre_name{
    margin-right:10%;
    font-size:25px;
    text-align: right;
    text-decoration: none;
    color:rgb(96, 99, 92);
}

.genre_disk{
    width:25%;
    display:grid;
    margin-top: 5%;
    margin-left: 25%;
    grid-template-columns:1fr 1fr 1fr;
}

button{
    border:none;
    outline:none;
    background:none;
}

img{
    margin:auto;
    height:15em;
}

.genre_link {
    position: relative;
}

.genre_link::after {
    content: attr(data-genre);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: yellow;
    opacity: 0;
}

.genre_link:hover::after {
    opacity: 1;
}


@media only screen and (max-width: 600px) {
    body{
        background-color:grey;
        font-family:Karla;
        font-weight:700;
    }

    .disk{
        height: 370px;
        opacity: 77%;
        margin-top: 10%;
    }

    .mobile{
        display: block;
    }

    .links{
        font-size: 20px;
        margin-top: 40%;
        margin-right:5%;
        text-align: right;
        text-decoration: none;
        list-style: none;
        color: rgb(96, 99, 92);
    }

    a{
        text-decoration: none;
    }

    .pop{
        color:#e7c2af;
    }

    .christmas{
        color:#deffda ;
    }


    .hippop_rap{
        color:#f695ff ;
    }


    .soundtrack{
        color:#95ffc9 ;
    }


    .rb_soul{
        color:#fffd95;
    }


    .hip_rb_soul{
        color:#85a7f1 ;
    }


    .other_pop{
        color:#b3ccb3;
    }


    .cont{
        color:#b689ff ;
    }


    .cont_pop{
        color:#ffacac ;
    }


    .genre_link{
        text-decoration: none;
        color:rgb(96, 99, 92);
        transition:0.5s;
    }


    .genre{
        display:none;
        width:100%;
    }
    
    .genre_disk{
        display:grid;
        margin-top: 140%;
        grid-template-columns:1fr 1fr 1fr;
    }

    img{
        margin:auto;
        height:5em;
    }
}