.main{
    margin:10%;
}

#image1{
    width:20%;
    margin-top:8%;
    margin-left: 70%;
    float: right;
}

#logo1{
padding:5%;
}

#image2{
    width:20%;
    margin-left: 70%;
    float: right;
}

#image3{
    width:20%;
    margin-left: 70%;
    float: right;
}

#image4{
    width:20%;
    margin-left: 70%;
    float: right;
}

#image5{
    width:20%;
    margin-left: 70%;
    float: right;
}

#image6{
    width:20%;
    margin-left: 70%;
    float: right;
}

#image7{
    width:20%;
    margin-left: 70%;
}