body {
    margin-top:3%;
    background: black;
    font-family: 'Steinbeck Demo';
    overflow:hidden;
    animation: changebg 10s;
    animation-fill-mode: forwards;
}

.topnav {
    overflow: hidden;
    width:100%;
    margin-left:5%;
    margin-right:5%;
}

.chenxuli{
    float: none;
    position: absolute;
    font-family:'Steinbeck Demo';
    font-size: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.portfolio{
    font-size: 200px;
    margin-top:10%;
    margin-left:42%;
    position: absolute;
    color:black;
}

.lcxzpj{
    font-family:'SiYuan';
    font-size: 200px;
    margin-top:15%;
    margin-left:42%;
    position: absolute;
    color:black;
}

.box2d{
    font-size: 70px;
    color:#CCFF00;
    cursor:pointer;
    margin-left:5%;
}


@keyframes changebg {
    0% {background-color:black}
    50% { background-color: black;}
    100% { background-color: white;}
}