body
{
    margin:50px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(2,37,70,1) 100%);
}

h1{
    width: 404px;
    height: 137px;
    left: 101px;
    top: 118px;
    font-size: 96px;
    color: white;
    font-family: Trirong;
    font-style: semibold;
}

h2{
    height: 303px;
    left: 1346px;
    top: 717px;
    font-size: 96px;
    transform: rotate(-180deg);
    text-align:left;
    color: white;
    font-family: Trirong;
    font-style: semibold;
}

#authortitle {
    height: 50vh;
    left: 1021px;
    top: 741px;
    font-size: 24px;
    line-height: 24px;
    text-align: right;
    color: white;
    font-family: Trirong;
    font-style: light;

}



#manifesto1 {
    text-align:left;
    width: 497px;
    height: 50vh;
    left: 144px;
    top: 507px;
    color: white;
    font-family: Trirong;
    font-style: light;

}

#manifesto2 {
    text-align:right;
    width: 497px;
    height: 50vh;
    left: 890px;
    top: 248px;
    color: white;
    font-family: Trirong;
    font-style: light;
}

#manifesto3 {
    text-align:left;
    width: 497px;
    height: 50vh;
    left: 452px;
    top: 415px;
    color: rgb(255, 255, 255);
    font-family: Trirong;
    font-style: light;
}

#manifesto4 {
    text-align:right;
    width: 497px;
    height: 50vh;
    left: 888px;
    top: 563px;
    color: rgb(85, 97, 129);  
    font-family: Trirong;
    font-style: light;  
}

#manifesto5 {
    text-align:right;
    width: 455px;
    height: 50vh;
    left: 279px;
    top: 900px;
    color: rgb(50, 62, 92);
    font-family: Trirong;
    font-style: light;
}

