@font-face {
    font-family: 'Steinbeck Demo';
    src: url('SteinbeckDemo-Regular.woff2') format('woff2'),
        url('SteinbeckDemo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FlyFlowerSong';
    src: url('FlyFlowerSong-Regular.woff2') format('woff2'),
        url('FlyFlowerSong-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SiYuan';
    src: url('SourceHanSansCN-Light-Alphabetic.woff2') format('woff2'),
        url('SourceHanSansCN-Light-Alphabetic.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

