body 
{
margin:10%;
}

.forest_background{
    margin-top: 3%;
    margin-bottom:3%;
    margin-left:20%;
    margin-right:20%; 
}

#header{
    width:100%;
}

h1{
    font-family: fantasy;
    font-size:40px;
    position: absolute;
    margin-left: 40%;
    margin-top: 5%
}

.texts{
    font-family: fantasy;
    font-size:20px;
}

#pinterest{
    display: flex;
    justify-content: center;
    padding-top:3%;
    padding-bottom:3%;
}

#google_sites{
    display: flex;
    justify-content: center;
    padding-top:3%;
    padding-bottom:3%;
}

#fable{
    display: flex;
    justify-content: center;
    padding-top:3%;
    padding-bottom:3%;
    width:70%;
    height:80%;
}







background-image: url("../images/background.png");
background-size:cover;
background-repeat:no-repeat;



