#lightsOn{
    position:absolute;
    z-index: 2;
    display: block;
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 75%;
}

#lightsOff{
    position: absolute;
    z-index:1;
    display: block;
    margin-left: 12.5%;
    margin-right: 12.5%;
    width: 75%; 
}

