body
{
    margin-top:1%;
    margin-bottom:1%;
    margin-left:5%;
    margin-right:5%;
}

h1{
    font-size: 40px;
    text-align:left;
    font-family: Trirong;
}

#gradient { 
    top:0;
    background: radial-gradient(circle at 50% 50%, rgb(136, 183, 255), transparent 50%, transparent 100%, transparent 100%);
    position:fixed;
    width:200vw;
    height:200vh;
    z-index:-1;
    transform:translate(-50%, -50%);
    animation: gradientAnimation 10s ease-out infinite;
}

@keyframes gradientAnimation {
    0%{
        transform: translate(-50%, -50%);}
    25%{
        transform: translate(0%, -50%);}
    50% {
        transform: translate(0%, 0%);}
    75% {
        transform: translate(-50%, 0%);}
    }


#interview{
    width: 20%;
    margin-right: auto;
    margin-bottom: 1%;
    padding: 10px;
    border: 1px solid black;
}


#interview_image {
    float:right;
    border:1px solid black;  
    width: 25%;
    margin-top: -5%;
    margin-right:30%;
}

.interview_hide {
    display:none;
}

#interview:hover+ .interview_hide{
    display:block;
}

.interview_link a {
    color:black;
    text-decoration: none;
}

#allhtml{
    width: 20%;
    margin-right: auto;
    margin-bottom: 1%;
    padding: 10px;
    border: 1px solid black;
}

.allhtml_link a {
    color:black;
    text-decoration: none;
}

#allhtml_image {
    float:right;
    border:1px solid black;  
    width: 40%;
    margin-top: -8%;
    margin-right:15%;
}

.allhtml_hide {
    display:none;
}

#allhtml:hover+ .allhtml_hide{
    display:block;
}


#nametag{
    width: 20%;
    margin-right: auto;
    margin-bottom: 1%;
    padding: 10px;
    border: 1px solid black;
}

.nametag_link a {
    color:black;
    text-decoration: none;
}

#nametag_image {
    float:right;
    border:1px solid black;  
    width: 40%;
    margin-top: -15%;
    margin-right:15%;
}

.nametag_hide {
    display:none;
}

#nametag:hover+ .nametag_hide{
    display:block;
}

#expressive{
    width: 20%;
    margin-right: auto;
    margin-bottom: 1%;
    padding: 10px;
    border: 1px solid black;
}

.expressive_link a {
    color:black;
    text-decoration: none;
}

#expressive_image {
    float:right;
    border:1px solid white;  
    width: 40%;
    margin-top: -25%;
    margin-right:15%;
}

.expressive_hide {
    display:none;
}

#expressive:hover+ .expressive_hide{
    display:block;
}

#basicweb{
    width: 20%;
    margin-right: auto;
    margin-bottom: 1%;
    padding: 10px;
    border: 1px solid black;
}

.basicweb_link a {
    color:black;
    text-decoration: none;
}

#basic_image {
    float:right;
    border:1px solid black;  
    width: 40%;
    margin-top: -33%;
    margin-right:15%;
}

.basic_hide {
    display:none;
}

#basicweb:hover+ .basic_hide{
    display:block;
}

#toy{
    width: 20%;
    margin-right: auto;
    margin-bottom: 1%;
    padding: 10px;
    border: 1px solid black;
}

.toy_link a {
    color:black;
    text-decoration: none;
}

#toy_image {
    float:right;
    border:1px solid black;  
    width: 40%;
    margin-top: -40%;
    margin-right:15%;
}

.toy_hide {
    display:none;
}

#toy:hover+ .toy_hide{
    display:block;
}

#home {

    text-align:right;
    font-size:40px;

}

#home a{
    color:black;
    text-decoration:none;
}


