body{
    background-color:#edea5f;
    font-family:Karla;
    font-weight:800;
    color:white;
    transition:0.5s;
}

.home{
    position:absolute;
    top:3%;
    right:2%;
    text-decoration: none;
    font-family:Karla;
    font-weight:800;
    font-size:2em;
    color:white;
}

.title{
    position:absolute;
    top:3%;
    left:2%;
    font-family:Karla;
    font-weight:800;
    font-size:2em;
    color:white;
}


.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 15px;
    justify-content: right;
    padding: 0px;
}

.song_container {
    margin:20% 2% 2%;
    background-color:rgb(118, 170, 109);
    width: 95%;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius:20px;
}

.album-cover{
    margin-left:50px;
    width:70%;
    border-radius: 50%;
    border: 5px solid white;
}

.songTitle{
    display:none;
    font-size:2rem;
}

.songTitle.active{
    display:block;
}

.albumTitle{
    display:none;
}

.albumTitle.active {
    display: block;
  }

.nameOfArtist{
    display:none;
}

.nameOfArtist.active{
    display:block;
}

.albumCover{
    position:absolute;
    right:10%;
    top:10%;
    width:30%;
    height:auto;
}

p{
    font-size:1rem;
}


img {
    transition: transform 3s ease-in-out;
    cursor: pointer;
  }

img:hover {
    transform: rotate(360deg);
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    body{
        font-family:Karla;
        font-weight:700;
        transition:0.5s;
    }

    .container{
        display:block;
        width:100%;
    }

    img{
        width:100%;
        border-radius: 50%;
        border: 4px solid white;
    }

    .song_container {
        margin:35% 15% 2%;
        width: 70%;
        box-sizing: border-box;
        border: 1px solid white;
        border-radius: 20px;
    }    

    .songTitle,.albumTitle,.nameOfArtist{
        font-size:1em;
        margin-left: 15px;
    }

    img{
        margin:auto;
    }

    .album-cover{
        width:100%;
        margin-left:auto;
    }
}

